In [17]:
import cv2 ## issues 
import skimage
from skimage import io
import pickle
#define File-Path to Users Folder
#import scikit-image
import skimage
import os
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib
import matplotlib.pyplot as plt
from skimage import data
from skimage import io
from sklearn.mixture import GaussianMixture
import glob
from skimage.viewer import ImageViewer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
%matplotlib inline

#img = io.imread('~/Users/kimia/Desktop/Capstone/imgcluster/Cluster4/11117159_1591691794419786_1496739027_n.jpg')

In [16]:


import ClusteringTrainKM
import RecSystemKM2 as km

train_path = '/Users/kimia/Desktop/Capstone/imgcluster/Cluster4/'
save_path = '/Users/kimia/Desktop/Capstone/imgcluster/Cluster4/'
dest_img =  '/Users/kimia/Desktop/Capstone/imgcluster/Cluster4/'
userlist= [1,2,3]
#user list will be the picture number! 

#Helper Function to get images from train path
c = km.RecSystemKM2(train_path, save_path )
c.get_train_images(train_path, user_list = ['1','2','3'])
#Create Object
train_df_cols = ["User_Handle","URL","R_Mean", "R_STD", "R_MED", "G_Mean", "G_STD", 
                "G_MED", "B_Mean", "B_STD", "B_MED", "Canny", "ORB_X", "ORB_Y"]
train_df = c.convert_to_features(train_df_cols)

c.load_model()

AttributeError: module 'RecSystemKM2' has no attribute 'RecSystemKM2'

In [6]:
#Get train dataframe
train_df_cols = ["User_Handle","URL","R_Mean", "R_STD", "R_MED", "G_Mean", "G_STD", 
                "G_MED", "B_Mean", "B_STD", "B_MED", "Canny", "ORB_X", "ORB_Y"]

train_df = c.convert_to_features(train_df_cols)
display(train_df.head())

,User_Handle,URL,R_Mean,R_STD,R_MED,G_Mean,G_STD,G_MED,B_Mean,B_STD,B_MED,Canny,ORB_X,ORB_Y
0,1,1,135.0129197103678,87.63115693479644,153.0,115.81277500106796,85.89295297982054,109.0,58.67071158528771,67.8223132968387,33.0,22.53199891067538,146.9227747599284,130.7175958633423
1,2,2,182.62494660173437,71.07541423145153,214.0,114.09603945063864,61.1908801925312,116.0,59.164076850783886,49.102368231584244,42.0,15.82652505446623,158.0485753377279,124.39350624084474
2,3,3,224.64943771626298,37.1131291445464,242.0,177.51967726088256,68.5927534247089,184.0,103.62004998077663,101.47531061170602,66.0,22.367919389978212,127.65924498240155,189.51394405364988

In [21]:
df = train_df
del df['User_Handle']
del df['URL']

In [23]:
# Model

In [24]:

from sklearn.externals import joblib
def cluster_uploaded_pics:
    model = joblib.load('model_images.plk')

In [62]:
model_user = joblib.load('model_users.plk')

model_user.cluster_centers_

array([[9.48407625e-06, 1.73430122e-02, 2.90112949e-02, 3.71834975e-02,
        9.16452711e-01],
       [4.49303540e-02, 8.15995366e-01, 7.48122668e-02, 2.66606310e-04,
        6.39954070e-02],
       [2.39535693e-01, 3.06436341e-01, 2.56485322e-01, 8.08224675e-02,
        1.16720177e-01],
       [0.00000000e+00, 6.35781539e-10, 0.00000000e+00, 9.99971800e-01,
        2.81989199e-05],
       [8.88222290e-02, 1.17511792e-01, 7.88032046e-01, 9.71445147e-17,
        5.63393249e-03]])

In [25]:
#Define Dataset
data = df.copy(deep=True)
#model.fit(data)
y_pred = model.predict_proba(data)

In [81]:
"""def Predict_to_df( df, clustercount): 
    for i in range(0,cluster_count+1):
        if i==cluster_count:
            label = "Prediction"
            df[label] = model.predict(data)
            break
        label = "Prob_" + str(i)
        df[label] = y_pred[:,i]"""
#Added above

In [82]:
"""cluster_count = 5
#Add prediction to dataframe     
for i in range(0,cluster_count+1):
    if i==cluster_count:
        label = "Prediction"
        df[label] = model.predict(data)
        break
    label = "Prob_" + str(i)
    df[label] = y_pred[:,i]
    

display(df.head())"""
Predict_to_df(df, 5)

In [83]:
df

,R_Mean,R_STD,R_MED,G_Mean,G_STD,G_MED,B_Mean,B_STD,B_MED,Canny,ORB_X,ORB_Y,Prob_0,Prob_1,Prob_2,Prob_3,Prob_4,Prediction
0,135.0129197103678,87.63115693479644,153.0,115.81277500106796,85.89295297982054,109.0,58.67071158528771,67.8223132968387,33.0,22.53199891067538,146.9227747599284,130.7175958633423,5.078126e-18,1.441767e-08,3.988279e-01,2.107406e-20,0.601172,4
1,182.62494660173437,71.07541423145153,214.0,114.09603945063864,61.1908801925312,116.0,59.164076850783886,49.102368231584244,42.0,15.82652505446623,158.0485753377279,124.39350624084474,3.710005e-15,4.197616e-06,8.920294e-01,1.499184e-14,0.107966,2
2,224.64943771626298,37.1131291445464,242.0,177.51967726088256,68.5927534247089,184.0,103.62004998077663,101.47531061170602,66.0,22.367919389978212,127.65924498240155,189.51394405364988,4.270073e-62,4.177991e-04,9.591860e-07,1.620037e-87,0.999581,4

In [ ]:
# targeting PEOPLE
# distirbut rep img, compare to dist repre person. 
## distribution over images, same cluster of images.

## Now need to compare it to the files.. So is 'presence DF' the communities? Like the centroid?

## or...should I take a summary statistic of each cluster across all and comapre to that.

In [40]:
imgdf = pd.read_csv('/Users/kimia/Desktop/Capstone/imgcluster/ImageDF.csv')

In [41]:
Presdf = pd.read_csv('/Users/kimia/Desktop/Capstone/imgcluster/PresenceDF.csv')

In [ ]:
## Treating Presdf as the centroids

In [ ]:
## KL Divergence

In [63]:
from scipy import stats

row0_vaso = ([9.48407625e-06, 1.73430122e-02, 2.90112949e-02, 3.71834975e-02,
        9.16452711e-01])
myown4 = [5.078126e-18, 1.441767e-08, 3.988279e-01, 2.107406e-20, 0.601172]
print(stats.entropy(pk=row0_vaso, qk=myown4))

myown2 = [3.710005e-15, 4.197616e-06, 8.920294e-01, 1.499184e-14, 0.107966]
#print(stats.entropy(pk=row0_vaso, qk=myown2))

2.1156842395594326

In [ ]:
def rank(community): 
    sorted_df_by_community = (fdf[fdf['community']==2]).sort_values('KL_score').reset_index()
print(list(sorted_df_by_community.picture_number))

In [266]:
fdf = calc_KL_divergence(df)
sorted_df_by_community = (fdf[fdf['community']==2]).sort_values('KL_score').reset_index()
print(list(sorted_df_by_community.picture_number))

[1, 0, 2]

In [237]:
KL=[]
pic_no = []
community = []
for i in range(s.shape[0]):
 
    pic_dist = list(s.iloc[i])
    #print(pic_dist)
    for v in enumerate(model_user.cluster_centers_):
        clustercenter = (v[1])
        KLdiv = stats.entropy(pk=clustercenter, qk=pic_dist)
        KL.append(KLdiv)
        pic_no.append(i)
        community.append((v[0]))
        
test = (pd.DataFrame({"KL":KL,"pic": pic_no, "com":community}))#.transpose()#.rename(columns=['kl', 'nnu', 'comm'])""""
#pd.DataFrame(test, columns = ['hi', '4', 'hii'])
test

            KL  com  pic
0     2.115684    0    0
1    15.957836    1    0
2    17.520507    2    0
3    45.304657    3    0
4     5.702374    4    0
5     3.066426    0    1
6    11.077834    1    1
7    13.107254    2    1
8    31.830112    3    1
9     3.825286    4    1
10    7.594028    0    2
11   13.110483    1    2
12   54.430906    2    2
13  199.836495    3    2
14   23.701988    4    2

In [184]:
model_user.cluster_centers_[2]

array([0.23953569, 0.30643634, 0.25648532, 0.08082247, 0.11672018])

In [173]:
test.cols = ['picture','communitycluster', 'score']
test

   0                                                  1       2
0  2  (4, [0.08882222898447056, 0.11751179212073659,...  23.702

In [122]:
## This is the score depending on which cluster you'd like to optimize for 
for i in range(model_user.n_clusters):
    user_centroid = model_user.cluster_centers_[i]
    print(stats.entropy(pk=user_centroid, qk=myown4))

2.11568423826652
15.957836424717797
17.520506566471457
45.304657081334575
5.702374000473236

In [64]:
# rank from lowest to highest

In [ ]:
# Know user type, are imagines relev to user type? 
# Math and qualit analysis

In [ ]:
two groups of images, for two types of users --> 3
Know how the ranking should 
# selfie person --> dont target them with landscape
#

In [ ]:
#People to test analysis on: 
# Go grab painters on IG, illustrators.
# All their artwork.

# Selfie people --> Beauty. Ask Ale and Andreea --> cosmetics. 

# retrain the model. 
# see if ranking, does exactly this. 

# https://www.instagram.com/explore/tags/mountaineering/

In [ ]:
# next steps, engagement 
# predicted engagement value --> how to combine scores (KL, engagement)
# Predict number of shares, likes, comment. 
# predictive model. , likes, shares, etc. image with features. image --> engagement. 
# could be lienar, couild be else.