In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier as KNN

In [2]:
#DB, USER ID, FOLLOWERS COUNT,

In [3]:
data = pd.read_csv('allbrands_users_captions_list.csv')
data = data[data['followers_count']>10000]
data = data[data['followers_count']<100000]

In [15]:
list_users = ['ana_brandine', 'vicky_regouli', 'luismiguelpss', 'ilariabiagini', 
              'emnegg', 'kerendhahn', 'agiorgina', 'roulamatta', 'jussbieber9827', 
              'eremiaheidr', 'eunhuiheo', 'anastasiakaps', 'achaelilsone', 'orit_talbi',
              'sorayaalassmi', 'altonolnlis', 'vaso1977', 'theunrealobserver', 'nsb.koc',
              'vivpeng', 'amrynevillek', 'danalev7', 'irienyree', 'lilachturgeman', 
              'emel_karakoc', 'thiswhomustbekept', 'j_f_lil', 'ulietteearneye', 
              'gilanaz', 'sarrahdolly', 'alexchahine97', 'photographerarson', 
              'angecanindo', 'fiona_smithson', 'chelsea_xu620']
for i,v in enumerate(data.username): 
    for j, k in enumerate(list_users):
        if str(v) == list_users[j]:
            print(v)
            
    #### Note to Karan: 
    ### we need to pick our users. They don't match

## dataframe created at end of doc

In [5]:
dftest = (data.sample(n=15)).reset_index()
dftest

,index,Unnamed: 0,username,followers_count,caption
0,14,14,aichanicole,14119,['Throwback #tokyo #trip #travel #lifestyle #a...
1,42,42,a_lifestyle_blog,13203,"[""Sometimes you'll just get those days where y..."
2,22,22,bimbidotgirl,40185,"['ü§ó #erdemxhm üíê Hai vinto üëèüèªüëèüèªüëèüèª', '... üîÆcosa ..."
3,139,139,aguademayozapatos,20600,['Absolutamente c√≥modos #tenis #massif #nuevac...
4,73,73,alexandalexacom,51246,['‚ùÑÔ∏è WINTER DAYS: COATS üå®\r\n\r\nTake your lit...
5,51,51,bbberenger,15866,"[""J'ai oubli√© de me peigner les poils des bras..."
6,26,26,cclaudiaff,10870,['‚ÄúIl #pinotnero √® come una bella ragazza con ...
7,52,52,begumtellioglu,19660,['‚ù§Ô∏è D u b a i ‚ù§Ô∏è #waitingfor #fountainshowdub...
8,74,74,alexandramiro,38932,['Excited to be working with our new press age...
9,136,136,_nina_pol,11362,['Œ©œÅŒ±ŒØŒ± Œ≥œÖŒΩŒ±ŒØŒ∫Œ± ŒµŒØŒΩŒ±Œπ Œ±œÖœÑŒÆ œÄŒøœÖ Œ∑ Œ≥ŒøŒ∑œÑŒµŒØŒ± œÑŒ∑œÇ Œµ...
10,101,101,alexanderdesignbuild,12979,['Dreamt of being here #daydream#chile#warm#sa...
11,143,143,aliciaoficiall,17915,['Body time ‚ú® Body fluide dispon√≠vel na loja |...
12,117,117,alohacollection,21682,"[""Show your man some ALOHA with our new 'SEAL'..."
13,8,8,abimfox,25502,['Congratulations @sydhayeshair on the launch ...
14,44,44,abbyhorne_tv,13192,['Can we just take a minute to appreciate this...

In [ ]:
# drop the ones that don't use english!


# save to csv 
#.to_csv('usersused.csv', sep=',')

In [6]:
#Saturday

userlist=[]

usernameforeachpost  = []
f2post = []
f3post = []

for i,v in enumerate(dftest.username):
    # save the usernames
    userlist.append(v) 
    
    captionsfromsample = dftest.caption
    captionsfromsample = (pd.DataFrame(captionsfromsample)).reset_index()
    captionsfromsample.drop(['index'], axis =1, inplace = True)
    listof = []
    for num, singlepost in enumerate(captionsfromsample.caption): 
        f1 = singlepost.split("\', \'")
        f3 = []

        for j,k in enumerate(f1):
            f2 = (f1[j].replace("\n", " ")).replace("\\", "")
            f3.append(f2)
            usernameforeachpost.append(v)
            f2post.append(f2)
            f3post.append(f3)
        listof.append(f3)
print(len(f2), len(f2post), len(usernameforeachpost))
#df1991 = pd.DataFrame({'caption': f3post, 'username': usernameforeachpost})

428 56475 56475

In [7]:
df1991 = pd.DataFrame({'caption': f2post, 'username': usernameforeachpost})

This is working!

In [8]:
df1991['polarity'] = np.zeros(len(df1991.caption))
vectorizer = CountVectorizer(stop_words=['and', 'or', 'before', 'a', 'an', 'the']) #min_df=4
corpus = df1991['caption'].values
x = vectorizer.fit_transform(corpus)
x = x.toarray()
y = df1991['polarity'].values

## it outputs words
## each line, token column

In [9]:
#vectorizer.vocabulary_
# http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [10]:
print("done")

done

In [11]:
print(x.shape,  y.shape)

(56475, 14529) (56475,)

In [ ]:
listofwordspercluster = []
#listofwords =[]
clusteritison = []
K=[]
totallist = []

for i in range(2,8):
    true_k = i
    model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
    model.fit(x)

    order_centroids = model.cluster_centers_.argsort()[:, ::-1]
    terms = vectorizer.get_feature_names()

    for i in range(true_k):
        #print("Cluster :" , i+1)
        listofwords = []
        for ind in order_centroids[i, :-1]:
            listofwords.append(terms[ind])
        #print(listofwords)
        totallist.append(listofwords)
        #print(totallist)
        #listofwordspercluster.append(listofwords)
        clusteritison.append(int(i+1))
        K.append(true_k)
    
DFofall = pd.DataFrame({'K_askedfor': K, 'clusternumber': clusteritison, 'listofwordspercluster':  totallist})

In [ ]:
DFofall

In [ ]:
DFofall.to_csv('clustersandwords.csv', sep=',')